body {
	font-size: 14px;
	text-align: center;
}

header { margin: 40px 0 0; }

header h1 { margin: 0; }

#content {
	width: 612px;
	margin: 0 auto;
}

#content img {
	width: 612px;
	height: 792px;
	margin: 10px 0 10px;
	border: 1px solid #000;
}

#content nav { text-align: left; }

footer { font-size: 12px; }